<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/default/index" aria-expanded="false">
                    <i class="icon-arrow-right-circle menu-icon"></i><span class="nav-text">Homepage</span>
                </a>
            </li>
            <li>
                <a href="/Dashboard/Index/" aria-expanded="false">
                    <i class="icon-menu menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/Staff/Index/" aria-expanded="false">
                    <i class="icon-notebook menu-icon"></i><span class="nav-text">Staff</span>
                </a>
            </li>
            <li>
                <a href="/Service/Index/" aria-expanded="false">
                    <i class="icon-clock menu-icon"></i><span class="nav-text">Services</span>
                </a>
            </li>
            <li>
                <a href="/Testimonial/Index/" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Testimonials</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoom/Index/" aria-expanded="false">
                    <i class="icon-home menu-icon"></i><span class="nav-text">Rooms</span>
                </a>
            </li>
            <li>
                <a href="/Guest/Index/" aria-expanded="false">
                    <i class="icon-people menu-icon"></i><span class="nav-text">Guests</span>
                </a>
            </li>  
            <li>
                <a href="/AdminContact/Inbox/" aria-expanded="false">
                    <i class="icon-phone menu-icon"></i><span class="nav-text">Contact</span>
                </a>
            </li>
            <li>
                <a href="/AdminMail/Index/" aria-expanded="false">
                    <i class="icon-envelope menu-icon"></i><span class="nav-text">E-Mail</span>
                </a>
            </li>   
            <li>
                <a href="/AdminAbout/Index/" aria-expanded="false">
                    <i class="icon-info menu-icon"></i><span class="nav-text">About Us</span>
                </a>
            </li>
            <li>
                <a href="/AdminFile/Index/" aria-expanded="false">
                    <i class="icon-doc menu-icon"></i><span class="nav-text">File Operations</span>
                </a>
            </li>
            <li>
                <a href="/AdminUsers/Index/" aria-expanded="false">
                    <i class="icon-user menu-icon"></i><span class="nav-text">Users</span>
                </a>
            </li>
            <li>
                <a href="/AdminWorkLocation/Index/" aria-expanded="false">
                    <i class="icon-location-pin menu-icon"></i><span class="nav-text">Work Locations</span>
                </a>
            </li>
            <li>
                <a href="/AdminRoles/Index/" aria-expanded="false">
                    <i class="icon-user-follow menu-icon"></i><span class="nav-text">Roles</span>
                </a>
            </li>
            <li>
                <a href="/AdminSettings/Index/" aria-expanded="false">
                    <i class="icon-settings menu-icon"></i><span class="nav-text">Settings</span>
                </a>
            </li>
            <li>
                <a href="/Logout/Index/" aria-expanded="false">
                    <i class="icon-logout menu-icon"></i><span class="nav-text">Log Out</span>
                </a>
            </li>
        </ul>
    </div>
</div>