@model AddWorkLocationDto

<form action="" method="post">

    <label>Work Location</label>
    <input type="text" asp-for="Name" class="form-control">
    <br>
    <label>City</label>
    <input type="text" asp-for="City" class="form-control">
    <br>
    <button class="btn btn-primary">Add Work Location</button>

</form>