@model List<ResultWorkLocationDto>

@{
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
    int count = 0;
}

<table class="table tavle-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Work Location</th>
            <th>City</th>
            <th>Delete</th>
            <th>Update</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <td>@count</td>
                <td>@item.Name</td>
                <td>@item.City</td>
                <td>
                    <a href="/AdminWorkLocation/DeleteWorkLocation/@item.WorkLocationID" class="btn mb-1 btn-rounded btn-outline-danger">Delete</a>
                </td>
                <td>
                    <a href="/AdminWorkLocation/UpdateWorkLocation/@item.WorkLocationID" class="btn mb-1 btn-rounded btn-outline-success">Update</a>
                </td>
                <td>
                    <a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/AdminWorkLocation/AddWorkLocation/" class="btn btn-info">New WorkLocation Create</a>