@model UpdateWorkLocationDto

<form action="" method="post">

    <input type="hidden" asp-for="WorkLocationID">
    <label>Work Location</label>
    <input type="text" asp-for="Name" class="form-control">
    <br>
    <label>City</label>
    <input type="text" asp-for="City" class="form-control">
    <br>
    <button class="btn btn-primary">Update Work Location</button>

</form>